name: Build-Check

on:
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build_test:
    name: "Build Test"
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Run MSBuild
      run: msbuild NBC-textRPG.sln /p:Configuration=Release /p:Platform=x64

    - name: Linter (clang-format) check
      uses: DoozyX/clang-format-lint-action@v0.17
      with:
        source: '.'
        extensions: 'cpp,h,hpp'
        clangFormatVersion: 16
        style: file # 프로젝트 루트의 .clang-format 파일을 사용함
