name: Style Check

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  lint:
    name: "Style Check"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-format lint
        uses: DoozyX/clang-format-lint-action@v0.17
        with:
          source: '.'
          extensions: 'cpp,h,hpp'
          clangFormatVersion: 16
          style: file
